/* ----- Dashboard ----- */
div.dashboard {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(20, 5%);
    grid-template-columns: repeat(10, 10%);

}

/* ----- Rank List ----- */
table.rank-table th {
  background-color: white;
}

table.rank-table td, table.rank-table th {
  border-top: var(--border-card);
  border-left: var(--border-card);
}

div.rank-list {
  display:block;
  overflow-y:scroll;
  border-right: var(--border-card);
  border-bottom: var(--border-card);
}

table.rank-table {
  border-collapse: separate;
  border-spacing: 0;
  max-height:100%;
  width:100%;
  font-size: 17px;
}

div.rank-list {
  grid-column: 2 /  span 3;
  grid-row: 3  / span 6;
}

table.rank-table thead {
  position: sticky;
  top: 0;
  font-weight:900;
}

table.rank-table tbody {
  font-size:15px;
}

table.rank-table tr > td {
  padding: 5px 5px 5px 5px;
}

table.rank-table tr > td:nth-child(1) {
  font-weight:600;
}


table.rank-table > Link {
  color: var(--text-muted);
}

table.rank-table .disabled-link {
  pointer-events: none;
  color:var(--text-muted);
}

/* ----- Task Form ----- */

div.task-form-buttons {
  display:flex;
  justify-content: space-evenly;
}

div.task-form-buttons div {
  display:flex;
  gap:5px;
}

button.task-form-buttons:nth-child(1) {
  width:60%;
}

button.task-form-buttons {
  width:30%;
}

div.task-planning-container {
  display: flex;
  justify-content: center;
  gap:5%;
}

form.task-creation-menu {
  grid-column: 6 / span 4;
  grid-row: 5 / span 13;
  display:flex;
  flex-direction: column;
  justify-content: center;
  gap:60px;
  padding:10px;
}

div.form-inputs {
  display:grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5%;
  row-gap:2%;
  grid-template-rows: auto;
}

div.form-inputs label > textarea {
  grid-row: span 2;
  resize:none;
  height:30vh;
  white-space: pre-wrap;
}

div.form-inputs > *:first-child {
  grid-column-start: span 2;
}

form.task-creation-menu label {
  display:flex;
  flex-direction: column;
}


div.task-session-container {
  display: flex;
  flex-direction: column;
}

div.form-inputs > div {
  grid-column-start: span 2;
  display:flex;
  flex-direction: column;
  align-items: center;
}

div.form-inputs div.task-titlebar {
  margin-bottom:5%;
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

div.form-inputs div.task-titlebar p:nth-child(1) {
  font-size:30px;
  font-weight:700;
}

div.form-inputs div.task-titlebar p:nth-child(2) {
  font-weight: 70;
}

div.form-inputs span {
  border: var(--border-card);
  padding:5% 5%;
  align-self: center;
  white-space: pre-wrap;
  line-height:1.5;
  width:90%;
  
}

/* ----- Todo Form ----- */
div.todo-creation-menu {
  grid-column: 2 / span 3;
  grid-row: 10 / span 10;
}

div.todo-creation-menu > p {
  font-weight:700;
}

div.todo-creation-menu > form {
  display:flex;
  justify-content: space-between;
}

div.todo-creation-menu > form > input {
  width:80%;
}

div.todo-creation-menu > form > button {
  width:13%;
}

div.todo-creation-menu > ul {
  width:100%;
  height:100%;
  overflow-y: scroll;
  border:var(--border-card);
}

/* ----- Other ----- */

