/* ----- Profile ----- */
div.profile {
    height:100%;
    display:grid;

    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(20, 5%);
    background-color: var(--bg);
}

div.profile div.profile-banner {
    grid-column-start: 2;
    grid-column-end: span 8;
    grid-row-start:3;
    grid-row-end: span 3;

    display:grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr;
    background-color: var(--bg-light);
    border:var(--border-card);
    box-shadow:var(--box-shadow);
}

/* ----- Top Bar ----- */

div.stats-subsection {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.stats-subsection > span:nth-child(1) {
    font-size:15px;
    font-weight: bold;
}

div.stats-subsection > span:nth-child(2) {
    font-size:40px;
    font-weight: bold;
}

div.profile-banner div.description-subsection span:nth-child(2) {
    font-size:20px;
    font-weight:600;
}

div.profile-banner > div.description-subsection {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    justify-content: center;
    font-size: 17px;
}

/* ----- section header ----- */

div.task-history-display > div.section-header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    border:var(--border-card);
    border-bottom: none;
    padding: 0.3% 0.5%;
    width:80%;
    font-weight:800;
    background-color: var(--bg-dark);
}

div.task-history-display > div.section-header > button {
    font-size:15px;
    font-weight: 500;
    border: var(--border-card);
    background-color: var(--bg-light);
    padding:0% 1%;
}

/* ----- History ----- */

div.task-history-display {
    grid-column-start: 1;
    grid-column-end: span 10;
    grid-row-start:8;
    grid-row-end: span 12;
    width:100%;
    background-color: var(--bg);
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

div.task-table-container {
    overflow-y:scroll;
    width:80%;
    height:90%;
    background-color: var(--bg-light);
    box-shadow: var(--box-shadow);
    border-right: var(--border-card);
    border-bottom:var(--border-card);
    border-left:var(--border-card);
}

table.task-table {
    border-collapse: separate;
    border-spacing: 0;
    max-height:100%;
    width:100%;
    font-size: 17px;
}

table.task-table td {
    border-bottom: var(--border-card);
    border-left: var(--border-card);
    white-space: pre-wrap;
}

table.task-table td:nth-child(1) {
    border-left: none;
}

div.task-history-display > div.section-header {
    border-bottom: var(--border-card);
}

table.task-table tr > td {
    padding: 5px 5px 5px 5px;
}

td {
    width:5%;
}

td:nth-child(3) {
    width:80%;
}


/* ----- Popup ----- */

div.journal-popup {
    position: fixed; 
    inset: 0;
    z-index:1;
    display: flex;
    align-items: center;     
    justify-content: center;
}

div.journal-popup > div.blanker {
    position: absolute; 
    inset: 0;
    background-color: var(--background-dim);
}

div.journal-popup > div.content {
    position: relative; 
    z-index: 1;
    width: 50%;
    height: 50%;
    background-color: var(--bg-light);
    border: var(--border-card);
    box-shadow:var(--box-shadow);
}

div.journal-popup > div.content > p {
    background-color: var(--bg-dark);
    border-bottom: var(--border-card);
    padding: 1%;
    font-weight:700;
}

div.journal-popup form {
    display:flex;
    flex-direction: column;
    padding:40px;
    gap:20px;
    width:100%;
    height:100%;
}

div.journal-popup textarea {
    height:70%;
    resize:none;
    overflow-y: scroll;
}

div.journal-popup textarea, div.journal-popup input {
    border:var(--border-card);
}

div.journal-popup button {
    margin-left: auto;
    background-color: var(--bg-dark);
    border:var(--border-card);
    padding: 8px 50px;
}

