/* ----- Settings ----- */
form.settings {
    margin-top:10vh;
    justify-self: center;
    width:50%;
}

form.settings label {
    display:flex;
    margin:20px 10%;
    justify-content: space-between;
}

form.settings button.save-changes {
    margin-top:15px;
    margin-left:auto;
    margin-right:10%;
    display:block;
}


/* ----- Settings Group ----- */

div.settings-group {
    font-size:17px;
    font-weight:600;
}

div.settings-group h3 {
    margin-bottom:5px;
    margin-left:20%;
}

div.settings-group input, div.settings-group button {
    font-weight: 400;
}

