/* TaskCreationMenu.css */

/* NOTE: The form in TaskCreationMenu.jsx should use className="task-creation-form"
   instead of "task-creation-menu" to distinguish it from TaskSessionMenu's form. */

div.task-creation-menu {
  position: fixed; 
  inset: 0;
  z-index:1;
  display: flex;
  align-items: center;     
  justify-content: center;
}

div.task-creation-menu form.task-creation-form {
  position: relative; 
  z-index: 1;
  min-width:60%;
  padding-bottom:2vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-light);
  border: var(--border-card);
  box-shadow: var(--box-shadow);
}

div.task-creation-menu form.task-creation-form label {
  display: flex;
  flex-direction: column;
}

div.task-creation-menu div.task-form-inputs p {
  background-color: var(--bg-dark);
  padding: 0.5%;
  border: var(--border-card);

  font-weight: 700;
}

div.task-creation-menu div.task-form-inputs > div.inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5%;
  row-gap: 2%;
  grid-template-rows: auto;
  padding: 1% 5% 7% 5%;
  
}

div.task-creation-menu div.task-form-inputs > div *:first-child {
  grid-column-start: span 2;
}

div.task-creation-menu div.task-form-inputs > input {
  border: var(--border-card);
}

div.task-creation-menu div.task-form-inputs select {
  padding: 4px 0px;
}

div.task-creation-menu div.task-form-inputs label {
  color: var(--text-muted);
}

div.task-creation-menu iv.task-form-inputs label:focus-within {
  color: var(--text);
}

div.task-creation-menu div.task-form-inputs label > textarea {
  grid-row: span 2;
  resize: none;
  height: 30vh;
  white-space: pre-wrap;
  border: var(--border-card);
}
