
table.rank-table th {
  background-color: var(--bg-dark);
}

table.rank-table td, table.rank-table th {
  border-bottom: var(--border-card);
  border-left: var(--border-card);
}

table.rank-table th {
  border-bottom: var(--border-card);
  border-top: var(--border-card);
}

table.rank-table td:nth-child(1), table.rank-table th:nth-child(1) {
  border-left: none;
}

table.rank-table td:nth-child(3), table.rank-table td:nth-child(1) {
  width:1%;
}

div.rank-list {
  display:block;
  overflow-y:scroll;
  border-right: var(--border-card);
  border-bottom: var(--border-card);
  background-color: var(--bg-light);
  border-left:var(--border-card);
}

table.rank-table {
  border-collapse: separate;
  border-spacing: 0;
  max-height:100%;
  width:100%;
  font-size: 17px;
}

div.rank-list {
  box-shadow:var(--box-shadow);
}

table.rank-table thead {
  position: sticky;
  top: 0;
  font-weight:900;
}

table.rank-table tbody {
  font-size:15px;
}

table.rank-table tr > td {
  padding: 5px 5px 5px 5px;
}

table.rank-table tr > td:nth-child(1) {
  font-weight:600;
}


table.rank-table > Link {
  color: var(--text-muted);
}
